.conteudo{
  display: list-item;
  position: relative;
  top: 6em;
  height: 100%;
  width: 98%;
  left: 0.6em;
}
.tag{
  position: relative;
  left: 1vw;
  margin-left: 5vw;
  margin-right: 5vw;
}
.tagList,
.conteudoTopico{
  border: ridge;
  border-radius: 10px;
  border-color: lightgrey;
}
.conteudoTopico{
  height: 7em;
}
.botoes{
  position: fixed;
    bottom: 1em;
    left: 40vw;
}
input[name='pesquisar']{
  border-radius: 1em;
}
button[name='pesquisarTopico']{
  box-shadow: inset -3px -3px 3px -1px #ffffff;
  background-color: #6c84afba;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  text-indent: 0;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: black;
  font-size: 15px;
  font-weight: bold;
  height: 33px;
  line-height: 0px;
  width: 120px;
  text-decoration: none;
  text-align: center;
  text-shadow: 2px 2px 0px #ffffff;
  float: right;
}
button[name='pesquisarTopico']:hover {
	background-color:#dfdfdf;
}
button[name='pesquisarTopico']:active {
	position:relative;
	top:1px;
}

span[name='anterior']{
  background: #6c84afba;
  padding: 15px 20px;
  border: 6px solid #ccc;
  border-radius: 50px;
  float: left;
  margin: 0 10px;
  box-shadow: 0 0 4px rgba(0,0,0,1);
  transition: all linear 0.2s;
  transform: rotate(180deg);
}
span[name='anterior'] i{
  border-left: 20px solid #ccc;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
 float:left;
 }
span[name='anterior']:hover{
 transform: rotateY(180deg);
    cursor: pointer;
 }

 span[name='proximo']{
   background: #6c84afba;
   padding: 15px 20px;
   border: 6px solid #ccc;
   border-radius: 50px;
   float: right;
   margin: 0 10px;
   box-shadow: 0 0 4px rgba(0,0,0,1);
   transition: all linear 0.2s;

 }
 span[name='proximo'] i{
   border-left: 20px solid #ccc;
   border-top: 15px solid transparent;
   border-bottom: 15px solid transparent;
   float: right;
  }
 span[name='proximo']:hover{
  transform: rotateX(180deg);
    cursor: pointer;
  }
label[name='pagina']{
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
}
.paginas{
  position: relative;
  left: 36vw;
  width: fit-content;
  display: flex;
  margin-top: 8em;
}
