body{
  position: relative;
  background: url(../imgs/gifFundo_2.gif);
}
.conteudo{
  width: 1024px;
  background-color: rgba(243, 242, 241, 0.999999);
  margin: 0;
  position: absolute;
  top: 10em;
  left: 25%;
}
.generos{
  border-style: groove;
  float: left;
  height: 33em;
  margin-left: 0.1em;
}
.generos > ul{
  padding-left: 0.5em;
    padding-right: 1.5em;
}
li[name='genero']{
  color: black;
  display: grid;
  padding-top: 1em;
  padding-bottom: 2em;
}
li[name='genero']:hover{
  color: blue;
  cursor: pointer;
}
span[name='genero'] > h2{
  text-decoration: underline;
}
.perguntas{
  padding-left: 2em;
}
.perguntaResposta > h6{
  font-style: italic;
}
span[name='separacao']{
  display: flex;
  width: 100%;
  border-style: groove;
}
h6{
  color: #999999;
}
