body{

  background-image: url(../imgs/gifFundo_4.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #0e1235;
}
.conteudo{
  position: relative;
  top: 4em;
  height: 100%;
  width: 98%;
  left: 0.6em;
  background-color: rgba(243, 242, 241, 0.1);
}
.modalEscolha{
  position: fixed;
  top: 38vh;
  left: 36vw;
  border-style: ridge;
  border-radius: 0.2em;
  padding: 1em;
  display: block;
  background-color: rgba(243, 242, 241, 0.999999);
  border-radius: 1.2em;
}
.respostas{
  display: table-caption;
  padding-top: 1em;
  padding-left: 1em;
}
.botoes{
  position: fixed;
  bottom: 5em;
  right: 10vw;
}
input{
  border-radius: 12px;
}
input[name='finalizar']{
  box-shadow: inset -3px -3px 3px -1px #ffffff;
  background-color: #6c84afba;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  text-indent: 0;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: black;
  font-size: 15px;
  font-weight: bold;
  height: 33px;
  line-height: 0px;
  width: 120px;
  text-decoration: none;
  text-align: center;
  text-shadow: 2px 2px 0px #ffffff;
}
input[name='finalizar']:hover {
	background-color:#dfdfdf;
}
input[name='finalizar']:active {
	position:relative;
	top:1px;
}
input[name='cancelar']{
  box-shadow: inset -3px -3px 3px -1px #ffffff;
  background-color: #6c84afba;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  text-indent: 0;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: black;
  font-size: 15px;
  font-weight: bold;
  height: 33px;
  line-height: 0px;
  width: 120px;
  text-decoration: none;
  text-align: center;
  text-shadow: 2px 2px 0px #ffffff;
}
input[name='cancelar']:hover {
	background-color:#dfdfdf;
}
input[name='cancelar']:active {
	position:relative;
	top:1px;
}
.questoes{
  display: none;
  border-style: ridge;
  position: absolute;
  top: 3em;
  background-color: rgba(243, 242, 241, 0.999999);
  margin-bottom: 3em;
  width: 100%;
}
span[name='respDescricao']{
  color: black;
}
label[name='pergunta']{
  height: 2em;
  width: fit-content;
  color: black;
}

button[name='botaoIniciarQuestionario'],
button[name='proximaQuestao'],
button[name='retornarQuestao'],
button[name='finalizar'],
button[name='retornarMenu']{
  box-shadow: inset -3px -3px 3px -1px #ffffff;
  background-color: #9db4e0e6;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  text-indent: 0;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: black;
  font-size: 15px;
  font-weight: bold;
  height: 33px;
  line-height: 0px;
  width: fit-content;
  text-decoration: none;
  text-align: center;
  text-shadow: 2px 2px 0px #ffffff;
  float: right;
}

button[name='botaoIniciarQuestionario']:hover,
button[name='proximaQuestao']:hover,
button[name='retornarQuestao']:hover,
button[name='finalizar']:hover,
button[name='retornarMenu']:hover {
	background-color:#dfdfdf;
}
button[name='botaoIniciarQuestionario']:active,
button[name='proximaQuestao']:active,
button[name='retornarQuestao']:active,
button[name='finalizar']:active,
button[name='retornarMenu']:active {
	position:relative;
	top:1px;
}
.resultadoFinal{
  display: none;
  position: relative;
  top: 8em;
  left: 33%;
  background-color: rgba(243, 242, 241, 0.999999);
  border-radius: 1.2em;
  height: 8em;
  width: 40em;
}
.pergunta ul{
  width: 100vw;
}
.pergunta li{
  display: block;
}
