html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
section {
  min-width: 100vw;
  height: 100%;
  transition: all 1s;
}
#logoSobreImagem{
  position: absolute;
  height: 50vh;
  width: 100vh;
  top: 22vh;
  left: 46vh;
}
#imagemSobreAIStein{
  height: 40vh;
  width: 52vh;
  margin-right: 10vh;
  padding-right: 4vh;
  margin-top: 13vh;
  float:right;
}
#imagemSobreArthur{
  height: 38vh;
  width: 40vh;
  margin-right: 15vh;
  padding-right: 0vh;
  margin-top: 15vh;
  float: right;
  border-radius: 25vh;
}
#imagemSobreGabriel{
  height: 38vh;
  width: 40vh;
  margin-left: 15vh;
  margin-top: 15vh;
  float: left;
  border-radius: 25vh;
}
#imagemSobreHeitor{
  height: 38vh;
  width: 40vh;
  margin-right: 15vh;
  padding-right: 0vh;
  margin-top: 15vh;
  float: right;
  border-radius: 25vh;
}
#imagemSobreItalo{
  height: 38vh;
  width: 40vh;
  margin-left: 15vh;
  margin-top: 15vh;
  float: left;
  border-radius: 25vh;
}
#sobreImagem{
  background-color: white;
  height: 80vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#sobreAIStein{
  border-top-style: groove;
  border-color: grey;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#sobreArthur{
  background-color: grey;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#sobreGabriel{
  background-color: grey;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#sobreHeitor{
  background-color: grey;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#sobreItalo{
  background-color: grey;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.conteudoRowLeft{
  float: left;
  margin-top: 19vh;
  margin-left: 27vh;
  width: 66vh;
}
.conteudoRowRight{
  float: Right;
  margin-top: 19vh;
  margin-right: 27vh;
  width: 66vh;
}
.AISteisnConteudo{
  min-width: 100vh;
  height: 100%;
}
.conteudoSobre{
  display: block;
  min-width: 100vw;
  height: 100%;
  transition: all 1s;
}
