html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}
section {
  min-width: 100vw;
  height: 100%;
}
#logoSobreImagem{
  position: absolute;
  height: 50vh;
  width: 50vw;
  top: 22vh;
  left: 27vw;
}
#imagemSobreAIStein{
  position: relative;
  height: 40vh;
  width: 35vw;
  left: 33vw;
  margin-top: 13vh;
}
#imagemSobreArthur{
  height: 43vh;
  width: 30vw;
  margin-right: 15vw;
  padding-right: 0vw;
  margin-top: 15vh;
  float: right;
  border-radius: 25vh;
}
#imagemSobreGabriel{
  height: 43vh;
  width: 30vw;
  margin-left: 15vw;
  margin-top: 15vh;
  float: left;
  border-radius: 25vh;
}
#imagemSobreHeitor{
  height: 43vh;
  width: 30vw;
  margin-right: 15vw;
  padding-right: 0vw;
  margin-top: 15vh;
  float: right;
  border-radius: 25vh;
}
#imagemSobreItalo{
  height: 43vh;
  width: 30vw;
  margin-left: 15vw;
  margin-top: 15vh;
  float: left;
  border-radius: 25vh;
}
#sobreImagem{
  box-shadow: 0 0 1em black;
  background-color: #e4e2e2;
  height: 80vh;
}
#sobreAIStein{
  border-top-style: groove;
  border-color: grey;
  background-color: white;
}
#sobreArthur{
  box-shadow: 1em 0em 1em black;
  background-color: #e4e2e2;
  height:
  }
#sobreGabriel{
  box-shadow: inset 0em 0em 1em 0em black;
  background-color: #e4e2e2;
  }
#sobreHeitor{
  box-shadow: 0 0 1em black;
  background-color: #e4e2e2;
  }
#sobreItalo{
  box-shadow: inset 0em 0em 1em 0em black;
  background-color: #e4e2e2;
  }

.conteudoRowBottom{
  width: 70vw;
  position: relative;
  left: 16vw;
  padding-top: 12vh;
}
.conteudoRowLeft{
  width: 24vw;
  position: relative;
  left: 16vw;
  padding-top: 25vh;
}
.conteudoRowRight{
  width: 66vw;
  position: relative;
  right: -17vw;
  padding-top: 21vh;
}
.AISteisnConteudo{
  min-width: 100vw;
  height: 100%;
}
.conteudoSobre{
  top: 80vh;
  display: block;
  min-width: 100vw;
  height: 100%;
  transition: all 1s;
  position: relative;
  z-index: 1;
}
.imagemPrincipal{
  position: fixed;
  z-index: 1;
}
