@charset "utf-8";
/* @font-face {
	font-family: 'Cinzel Regular';
	src: url('../fonts/Cinzel-Regular.ttf') format('truetype');
		font-family: 'CormorantSC Medium';
	src: url('../fonts/CormorantSC-Medium.ttf') format('truetype');
		font-family: 'MarcellusSC Regular';
	src: url('../fonts/MarcellusSC-Regular.ttf') format('truetype');
		font-family: 'PlayfairDisplaySC Regular';
	src: url('../fonts/PlayfairDisplaySC-Regular.ttf') format('truetype');
		font-family: 'AlegreyaSC Medium';
	src: url('../fonts/AlegreyaSC-Medium.ttf') format('truetype');
}
*/
@import "fonts/stylesheet.css";

/* CSS Document */


header {
	min-height: 72px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: black;
	background: linear-gradient(rgba(0,11,65,0.25), rgba(0,11,65,0.91)), url(../imgs/ceu-estrelado.gif);
	background-size: cover;
	z-index: 5;
}

a{
	text-decoration: none;
}
a:visted{
	color: #3569a4;
}
ul li{
	display: inline-block;
	margin-right: 5px;
}

img{
	border: 0;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

footer {
	min-height: 25px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #040404;

}
h1, h2, h3, h4, h5, h6, a, li, ul{
	font-variant: small-caps;
	color: white;
}

.opcoes{
    display: flex;
    justify-content: center;
}

.opcoesNavegaveis{
	margin-top: 1%;
	padding-left: 3%;
	text-align: left;
	font-variant: small-caps;
	display: block;
}
.opcoesNavegaveis a:hover {
	color: #eee;
	text-decoration: underline;
}
.opcoesImportantes{
	float: left;
}
.opcoesSecundarias{
	float: right;
}
.opcaoImportante{
	font-size: 16px;
	color: white;
}
.opcaoSecundaria{
	font-size: 12px;
	color: #aaa;
}


#cabecalhoPrincipal {
	max-width: 1010px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	position: relative;
	font-family: "PlayfairDisplaySC Regular", "MarcellusSC Regular", "CormorantSC Regular", "CormorantSC Medium", "Cinzel Regular", "AlegreyaSC Regular", "AlegreyaSC Medium", "Segoe", "Segoe UI", "DejaVu Sans", "Trebuchet MS", "Verdana", "sans-serif", serif;
}
#navigation {
	position: absolute;
	height: 3em;
	width: 100%;
	letter-spacing: 0.05em;
}
#logo{
	float: left;
	margin: 0;
	padding: 0;
	padding-right: 15px;
}
#logo img{
	width: 180px;
	height: 44px;
}
.oculta {
  display: none;
}
#fotoPerfil{
	float: right;
	margin: 0;
	padding: 0;
	padding-left: : 15px;
}
#fotoPerfil img{
	width: 40px;
	height: 40px;
}
#rodape{
	z-index: 2000;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	text-align:right;
}
#Rodape-Conteudo{
	clear: both;
}
.textoRodape{
	text-align: justify;
  	color: #FAFAFA;
	font-variant: small-caps;
}


#leftPanel{
background-color:#0079ac;
color:#fff;
text-align: center;
}

#rightPanel{
    min-height:415px;
}
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #6c84afba;
  border-radius: 5px;
<<<<<<< HEAD
}
#loginPanel{
text-align: center;
}
.btn-index{
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  background-color: transparent;
  color: #aaa;
}
.w3-modal{
	z-index:3;
	display:none;
	padding-top:100px;
	position:fixed;left:0;
	top:0;width:100%;
	height:100%;
	overflow:auto;
	background-color:#6c84afba;
	background-color:rgba(0,0,0,0.4);
}
.w3-modal-content{
	margin:auto;
	background-color:#6c84afba;
	position:relative;
	padding:0;
	outline:0;
	width:600px
}
.w3-container,.w3-panel{
	padding:0.01em 16px
	}
.w3-panel{
	margin-top:16px;
	margin-bottom:16px
}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
@media (max-width:600px){.w3-modal-content{margin:0 10px;width:auto!important}.w3-modal{padding-top:30px}
@media (max-width:768px){.w3-modal-content{width:500px}.w3-modal{padding-top:50px}}
@media (min-width:993px){.w3-modal-content{width:900px}.w3-hide-large{display:none!important}.w3-sidebar.w3-collapse{display:block!important}}
=======
}
>>>>>>> master
